<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>hussion</title>
  <meta name="author" content="hussion">
  
  <meta name="description" content="前端开发, Node.js, html, html5, css, css3, mongoDB, redis, SEO, java, struts, hibernate, spring, mybatis">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  
  <meta property="og:site_name" content="hussion"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/favicon.png" rel="icon">
  <link rel="alternate" href="/atom.xml" title="hussion" type="application/atom+xml">
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43093196-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>


<body>
  <div class="bgdiv">
  	<img src="http://ww3.sinaimg.cn/large/6cdc22a9gw1e8rv2ehbsjj21400mi76a.jpg" alt="">
  </div>	
  <header id="header" class="inner"><div class="alignleft top-title">
  <h1><a href="/">hussion</a></h1>
  <h2><a href="/">热爱前，后端开发，关注互联网，分享技术和生活</a></h2>
</div>
<nav id="main-nav">
  <ul>
    
      <li><a href="/">Home</a></li>
    
      <li><a href="/archives">Archives</a></li>
    
      <li><a href="/about">About</a></li>
    
      <li><a href="http://weibo.com/hussion">Weibo</a></li>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper">
  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-09-19T05:14:43.000Z"><a href="/2013/09/19/shell-echo-color/">Sep 19th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-Linux">
                <a href="/tags/Linux/">Linux</a>
              </span>
            
              <span class="tag-Mac">
                <a href="/tags/Mac/">Mac</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/09/19/shell-echo-color/">Shell中echo输出样式</a></h1>
  

    </header>
    <div class="entry">
      
        <p><strong>示例</strong></p>
<figure class="highlight lang-bash"><pre><span class="keyword">echo</span> -e <span class="string">"\033[44;37;5m I am color \033[0m No color"</span>
</pre></figure>

<p>以上命令设置背景成为蓝色，前景白色，闪烁光标，输出字符<code>I am color</code>，然后重新设置屏幕到缺省设置，输出字符 “No color”。“e”是命令 echo 的一个可选项，它用于激活特殊字符的解析器。“\033”引导非常规字符序列。“m”意味着设置属性然后结束非常规字符序列，这个例子里真正有效的字符是 “44;37;5” 和“0”。</p>
<p>修改“44;37;5”可以生成不同颜色的组合，数值和编码的前后顺序没有关系。可以选择的编码如下所示：</p>
<p><strong>编码 颜色/动作</strong></p>
<p>0 重新设置属性到缺省设置<br>1 设置粗体<br>2 设置一半亮度（模拟彩色显示器的颜色）<br>4 设置下划线（模拟彩色显示器的颜色）<br>5 设置闪烁<br>7 设置反向图象<br>22 设置一般密度<br>24 关闭下划线<br>25 关闭闪烁<br>27 关闭反向图象<br>30 设置黑色前景<br>31 设置红色前景<br>32 设置绿色前景<br>33 设置棕色前景<br>34 设置蓝色前景<br>35 设置紫色前景<br>36 设置青色前景<br>37 设置白色前景<br>38 在缺省的前景颜色上设置下划线<br>39 在缺省的前景颜色上关闭下划线<br>40 设置黑色背景<br>41 设置红色背景<br>42 设置绿色背景<br>43 设置棕色背景<br>44 设置蓝色背景<br>45 设置紫色背景<br>46 设置青色背景<br>47 设置白色背景<br>49 设置缺省黑色背景</p>

      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-09-19T04:54:27.000Z"><a href="/2013/09/19/node-error-handle/">Sep 19th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-NodeJs">
                <a href="/tags/NodeJs/">NodeJs</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/09/19/node-error-handle/">Node.js 异常以及错误的处理</a></h1>
  

    </header>
    <div class="entry">
      
        <p>在编程过程中，处理好错误，并且有一个明确的、有效率的处理策略，是一个非常好的编程习惯和规则。 Node.js也不例外，在不同的应用场景中提供了多种不同的错误处理方案。</p>
<p><strong>异常</strong></p>
<p>异步执行代码的错误处理会有点棘手，示例：  </p>
<figure class="highlight lang-javascript"><pre><span class="keyword">try</span>
{
    setTimeout(<span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        <span class="keyword">throw</span> <span class="keyword">new</span> Error(<span class="string">'who will catch me?'</span>);
    }, <span class="number">1</span>);
}
<span class="keyword">catch</span> (e) {
    console.log(<span class="string">'not me'</span>);
}
</pre></figure>

<p>由于<code>setTimeout</code>是异步的，它会安排好待执行的方法然后就立即返回，不抛出任何异常。因此导致<code>catch</code>会直接被忽略，执行结果如下：</p>
<figure class="highlight lang-javascript"><pre>posts/errors » node first.js

timers.js:<span class="number">103</span>
            <span class="keyword">if</span> (!process.listeners(<span class="string">'uncaughtException'</span>).length) <span class="keyword">throw</span> e;
                                                                      ^
Error: who will <span class="keyword">catch</span> me?
    at Object._onTimeout (<span class="regexp">/Users/g</span>ustavo/code/posts/errors/first.js:<span class="number">4</span>:<span class="number">18</span>)
    at Timer.list.ontimeout (timers.js:<span class="number">101</span>:<span class="number">19</span>)
</pre></figure>

<p>这将会导致进程退出，然后打印出堆栈跟踪的错误。那么我们该如何捕获这种未捕获异常呢？</p>

      
    </div>
    <footer>
      
        
          <div class="alignleft readMore">
            <a href="/2013/09/19/node-error-handle/#more" class="more-link">Read More</a>
          </div>
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-09-14T02:44:24.000Z"><a href="/2013/09/14/mac-gemini/">Sep 14th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-Mac">
                <a href="/tags/Mac/">Mac</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/09/14/mac-gemini/">Gemini 查找删除重复文件</a></h1>
  

    </header>
    <div class="entry">
      
        <p>Gemini 是一款由MacPaw出品，找寻Mac中重复文件清理删除给电脑腾出更多硬盘空间的实用工具。只需轻松点击就能自动扫描系统并删除重复的文件，界面华丽好用。</p>
<p>功能特点：<br>重复扫描特定的文件夹，简单容易；自动选择不必要的副本；内置预览重复归类有助于删除不必要的副本；独特的算法使扫描和清除的速度更快；为安全起见，Gemini将确保每个重复项目至少留有一个</p>
<p><img src="http://ww1.sinaimg.cn/large/6cdc22a9gw1e8lu19ekh3j20m80dwtbe.jpg" alt=""></p>

      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-09-14T02:18:16.000Z"><a href="/2013/09/14/mac-wallpaper_wizard/">Sep 14th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-Mac">
                <a href="/tags/Mac/">Mac</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/09/14/mac-wallpaper_wizard/">Wallpaper Wizard 最好的壁纸应用</a></h1>
  

    </header>
    <div class="entry">
      
        <p><code>Wallpaper Wizard</code>是mac上为数不多的壁纸应用中最为突出的，漂亮简洁的界面，以及海量高清壁纸，不同分类，任你下载，推荐指数5颗星 ★★★★★。</p>
<p><img src="http://ww3.sinaimg.cn/large/6cdc22a9gw1e8ltcod0b0j20uo0msgrd.jpg" alt=""><br><img src="http://ww2.sinaimg.cn/large/6cdc22a9gw1e8ltdwpx9ij20uo0msn2q.jpg" alt=""></p>

      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-09-10T15:37:08.000Z"><a href="/2013/09/10/angular-controller/">Sep 10th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-AngularJS">
                <a href="/tags/AngularJS/">AngularJS</a>
              </span>
            
              <span class="tag-前端开发">
                <a href="/tags/前端开发/">前端开发</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/09/10/angular-controller/">Angular中Controller的几种注册方式</a></h1>
  

    </header>
    <div class="entry">
      
        <p><strong>1.最直接最简单的方式</strong></p>
<figure class="highlight lang-javascript"><pre><span class="function"><span class="keyword">function</span> <span class="title">MyCtrl</span><span class="params">($scope)</span> {</span>
    $scope.xxx = <span class="string">'balabala'</span>;
}
</pre></figure>

<p>其对应的<code>view</code>如下：</p>
<figure class="highlight lang-html"><pre><span class="doctype">&lt;!DOCTYPE html&gt;</span>
<span class="tag">&lt;<span class="title">html</span> <span class="attribute">ng-app</span>&gt;</span>
<span class="tag">&lt;<span class="title">head</span>&gt;</span>
<span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"path/to/angular.min.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
<span class="tag">&lt;<span class="title">meta</span> <span class="attribute">charset</span>=<span class="value">utf-8</span> /&gt;</span>
<span class="tag">&lt;<span class="title">title</span>&gt;</span>JS Bin<span class="tag">&lt;/<span class="title">title</span>&gt;</span>
<span class="tag">&lt;/<span class="title">head</span>&gt;</span>
<span class="tag">&lt;<span class="title">body</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-controller</span>=<span class="value">"MyCtrl"</span>&gt;</span>
    
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">body</span>&gt;</span>
<span class="tag">&lt;/<span class="title">html</span>&gt;</span>
</pre></figure>

<p>这种写法虽然简单，但是有点小问题，就是在javascript最小化(Minification)的时候，参数<code>$scope</code>是区域参数，所以名称会被改变成类似a/b/…,而AngularJS在执行注入的时候就会找不到<code>$scope</code>,因此无法正常注入。解决方案有两个，如下所示：</p>
<figure class="highlight lang-javascript"><figcaption><span>方式一</span></figcaption><pre><span class="function"><span class="keyword">function</span> <span class="title">MyCtrl</span><span class="params">($scope)</span> {</span>
    $scope.xxx = <span class="string">'balabala'</span>;
}

<span class="comment">//加上这句</span>
MyCtrl.$inject = [<span class="string">'$scope'</span>];
</pre></figure>

<figure class="highlight lang-javascript"><figcaption><span>方式二</span></figcaption><pre><span class="keyword">var</span> MyCtrl = [<span class="string">'$scope'</span>, <span class="keyword">function</span>($scope) {
    $scope.xxx = <span class="string">'balabala'</span>;
}];
</pre></figure>

<p><em>推荐方式二这种写法。</em></p>
<p><strong>2.通过自定义一个Module,并将Controller声明注册在这个Module内</strong></p>
<p>这种方式，其实跟第一种方式差不多。但是这种方式，是模块化的写法，随着项目的逐渐复杂，会更容易管理。</p>
<figure class="highlight lang-javascript"><pre><span class="keyword">var</span> app = angular.module(<span class="string">'myApp'</span>, []);
app.controller(<span class="string">'MyCtrl'</span>, <span class="function"><span class="keyword">function</span> <span class="title">MyCtrl</span><span class="params">($scope)</span> {</span>
  $scope.xxx = <span class="string">'balabala'</span>;
});
</pre></figure>

<p>当你自定义了<code>myApp</code>模块，也就意味着controller只会存在于<code>myApp</code>模块内，所以在view模板html上，就必须修改np-app的属性值为<code>myApp</code>。</p>
<figure class="highlight lang-html"><pre><span class="doctype">&lt;!DOCTYPE html&gt;</span>
<span class="tag">&lt;<span class="title">html</span> <span class="attribute">ng-app</span>=<span class="value">"myApp"</span>&gt;</span>
<span class="tag">&lt;<span class="title">head</span>&gt;</span>
<span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"path/to/angular.min.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
<span class="tag">&lt;<span class="title">meta</span> <span class="attribute">charset</span>=<span class="value">utf-8</span> /&gt;</span>
<span class="tag">&lt;<span class="title">title</span>&gt;</span>JS Bin<span class="tag">&lt;/<span class="title">title</span>&gt;</span>
<span class="tag">&lt;/<span class="title">head</span>&gt;</span>
<span class="tag">&lt;<span class="title">body</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-controller</span>=<span class="value">"MyCtrl"</span>&gt;</span>
    
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">body</span>&gt;</span>
<span class="tag">&lt;/<span class="title">html</span>&gt;</span>
</pre></figure>

<p>但是这种方式在js最小化的时候，一样存在注入失败的问题，我们可以仿照方式一的解决方案来解决。</p>
<figure class="highlight lang-javascript"><pre><span class="keyword">var</span> app = angular.module(<span class="string">'myApp'</span>, []);
app.controller(<span class="string">'MyCtrl'</span>, [<span class="string">'$scope'</span>, <span class="function"><span class="keyword">function</span> <span class="title">MyCtrl</span><span class="params">($scope)</span> {</span>
  $scope.xxx = <span class="string">'balabala'</span>;
}]);

<span class="comment">//同时还可以这样写，并且可以声明多个</span>
<span class="keyword">var</span> app = angular.module(<span class="string">'myApp'</span>, []);
app.controller({
  <span class="string">'MyCtrl'</span>: [<span class="string">'$scope'</span>, <span class="function"><span class="keyword">function</span> <span class="title">MyCtrl</span><span class="params">($scope)</span> {</span>$scope.xxx = <span class="string">'balabala'</span>;}],
  <span class="string">'MyCtrl2'</span>: [<span class="string">'$scope'</span>, <span class="function"><span class="keyword">function</span> <span class="title">MyCtrl2</span><span class="params">($scope)</span> {</span>$scope.xxx = <span class="string">'balabala'</span>;}]			
});
</pre></figure>

<p><strong>3.通过$controllerProvider注册控制器</strong></p>
<p>这种注册方式更加底层一些，比以上两种看起来要复杂。</p>
<figure class="highlight lang-javascript"><pre><span class="keyword">var</span> app = angular.module(<span class="string">'myApp'</span>, []);
app.config([<span class="string">'$controllerProvider'</span>, <span class="keyword">function</span>($controllerProvider) {
  $controllerProvider.register(<span class="string">'MyCtrl'</span>, [<span class="string">'$scope'</span>, <span class="keyword">function</span>($scope) {
    $scope.xxx = <span class="string">'balabala'</span>;
  }]);
}]);
</pre></figure>


      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-09-10T13:46:27.000Z"><a href="/2013/09/10/angular-ngswitch/">Sep 10th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-AngularJS">
                <a href="/tags/AngularJS/">AngularJS</a>
              </span>
            
              <span class="tag-前端开发">
                <a href="/tags/前端开发/">前端开发</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/09/10/angular-ngswitch/">关于AngularJs中ngSwitch进行切换时，获取不到Model</a></h1>
  

    </header>
    <div class="entry">
      
        <figure class="highlight lang-javascript"><figcaption><span>Controller</span></figcaption><pre><span class="function"><span class="keyword">function</span> <span class="title">myCtrl</span><span class="params">($scope)</span> {</span>
	$scope.stage = <span class="number">1</span>;
	$scope.switchStage = <span class="keyword">function</span>() {
		$scope.stage = ($scope.stage == <span class="number">1</span>) ? <span class="number">2</span> : <span class="number">1</span>;
	}
}
</pre></figure>

<figure class="highlight lang-html"><figcaption><span>View</span></figcaption><pre><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-controller</span>=<span class="value">"myCtrl"</span>&gt;</span>

	<span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">value</span>=<span class="value">"switch"</span> <span class="attribute">ng-click</span>=<span class="value">"switchStage()"</span>/&gt;</span>
	
	<span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-switch</span> <span class="attribute">on</span>=<span class="value">"stage"</span>&gt;</span>
		<span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-switch-when</span>=<span class="value">"1"</span>&gt;</span>
			<span class="tag">&lt;<span class="title">select</span> <span class="attribute">ng-model</span>=<span class="value">"selectModel"</span>&gt;</span>
				<span class="tag">&lt;<span class="title">option</span>&gt;</span>please select one<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
				<span class="tag">&lt;<span class="title">option</span>&gt;</span>xxx<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
				<span class="tag">&lt;<span class="title">option</span>&gt;</span>xxxxxx<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
			<span class="tag">&lt;/<span class="title">select</span>&gt;</span>
		<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
	<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
	
	<span class="tag">&lt;<span class="title">span</span> <span class="attribute">ng-bind</span>=<span class="value">"selectModel"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
</pre></figure>

<p>如上面代码，在选择<code>option</code>的时候，我们发现，在<code>ng-switch</code>外面的<code>span</code>标签里，<code>ng-bind</code>里绑定的同一个<code>model</code>却没有抓到值，这是为什么呢？官网的Api上说了这么一句话：</p>
<blockquote>
<p>This directive creates new scope  </p>
</blockquote>
<p>意思就是：ng-switch这个标签创建了一个新的scope，也就是在controller-“myCtrl”下面创建了一个subScope，所以导致ng-bind的model取不到值，这是ng-switch的一个坑，解决办法也很简单：</p>
<blockquote>
<p>把ng-model=“selectModel”改为：ng-model=“$parent.selectModel”  </p>
</blockquote>
<p>这样，咱们的ng-bind中的selectModel就可以正常取回值了。</p>

      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-08-29T11:48:43.000Z"><a href="/2013/08/29/mac-homebrew/">Aug 29th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-Mac">
                <a href="/tags/Mac/">Mac</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/08/29/mac-homebrew/">Homebrew 札记</a></h1>
  

    </header>
    <div class="entry">
      
        <p><strong> Homebrew 目录结构 </strong></p>
<p>Homebrew将本地的/usr/local初始化为git的工作树，并将目录所有者变更为当前所操作的用户，以后的操作将不需要sudo.</p>
<figure class="highlight"><pre><span class="literal">-</span><span class="comment">bin</span>          <span class="comment">用于存放所安装程序的启动链接（相当于快捷方式）</span>
<span class="literal">-</span><span class="comment">Cellar</span>       <span class="comment">所以brew安装的程序，都将以</span>[<span class="comment">程序名/版本号</span>]<span class="comment">存放于本目录下</span>
<span class="literal">-</span><span class="comment">etc</span>          <span class="comment">brew安装程序的配置文件默认存放路径</span>
<span class="literal">-</span><span class="comment">Library</span>      <span class="comment">Homebrew</span> <span class="comment">系统自身文件夹</span>
<span class="literal">+</span><span class="comment">–Formula</span>     <span class="comment">程序的下载路径和编译参数及安装路径等配置文件存放地</span>
<span class="literal">+</span><span class="comment">–Homebrew</span>    <span class="comment">brew程序自身命令集
</pre></figure>

<p><strong> Homebrew 命令 </strong></p>
<ul>
<li>查看帮助</li>
</ul>
<figure class="highlight"><pre><span class="comment">brew</span> <span class="literal">-</span><span class="literal">-</span><span class="comment">help
</pre></figure>

<ul>
<li>安装软件 </li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> install wget
</pre></figure>

<ul>
<li>卸载软件 </li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> uninstall wget
</pre></figure>

<ul>
<li>搜索软件 </li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> search wget
</pre></figure>

<ul>
<li>已安装软件 </li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> list
</pre></figure>

<ul>
<li>更新软件，把所有的Formula目录更新，并且会对本机已经安装并有更新的软件用*标明 </li>
</ul>
<figure class="highlight"><pre>brew <span class="operator"><span class="keyword">update</span>
</pre></figure>

<ul>
<li>更新某个具体软件</li>
</ul>
<figure class="highlight"><pre>brew <span class="operator"><span class="keyword">update</span> wget
</pre></figure>

<ul>
<li>查看软件信息</li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> [<span class="built_in">info</span> | home] [FORMULA...]
</pre></figure>

<ul>
<li>查看可更新的程序</li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> outdated
</pre></figure>

<ul>
<li>清除无用的/老的程序安装包，可删除指定的单个软件删除和所有</li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> cleanup wget		<span class="comment"># single</span>
brew cleanup			<span class="comment"># all</span>
</pre></figure>

<ul>
<li>清除无用的链接</li>
</ul>
<figure class="highlight"><pre><span class="title">brew</span> prune
</pre></figure>


      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-08-19T10:23:33.000Z"><a href="/2013/08/19/soft-dialogue/">Aug 19th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-Mac">
                <a href="/tags/Mac/">Mac</a>
              </span>
            
              <span class="tag-Ios">
                <a href="/tags/Ios/">Ios</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/08/19/soft-dialogue/">Dialogue – 使用蓝牙连接你的手机在Mac上打电话</a></h1>
  

    </header>
    <div class="entry">
      
        <p>Dialogue 是Mac下一款很酷的小应用。使用这款软件可以让你用 Mac化身蓝牙耳机，代替 iPhone 进行电话的接收和拨打工作。</p>
<p>首先使用 Dialogue 前需要将iPhone 和 Mac 两端开启蓝牙并配对连接好，然后在Mac下就可以工作了。来电话后，Mac会自动弹出“来电”操作框；通话过程中还能选择“录音”，录音结束后可保存为M4A格式文件到本地硬盘。</p>
<p>使用Dialogue的通话质量还凑合，推荐使用耳机，这样效果更佳， Dialogue能与Mac通讯录联系人完美整合，你可以在Dialogue里直接查找联系人呼出电话，也可以直接输入要拨打的号码直接呼出。</p>
<p>Dialogue可以在OS X Mavericks 10.9下工作。<br><img src="http://ww4.sinaimg.cn/large/6cdc22a9jw1e7s5bs951cj20m80dw0to.jpg" alt=""></p>

      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-08-18T01:55:03.000Z"><a href="/2013/08/18/javascript-performance-optimize/">Aug 18th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-Javascript">
                <a href="/tags/Javascript/">Javascript</a>
              </span>
            
              <span class="tag-前端开发">
                <a href="/tags/前端开发/">前端开发</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/08/18/javascript-performance-optimize/">javascript性能优化</a></h1>
  

    </header>
    <div class="entry">
      
        <p><strong>注意作用域</strong>  </p>
<p><em>避免全局查询</em><br>局部查找比全局查找快<br><em>避免使用with</em><br>with()会创建自己的作用域，增加作用域链的长度</p>
<p><strong>选择正确的方法</strong>  </p>
<p><em>避免不必要的查找，减少复杂度</em><br><em>优化循环</em>  </p>
<ol>
<li>减值迭代(从高往低循环)  </li>
<li>简化循环体  </li>
<li>简化终止条件  </li>
<li>避免双重解释(避免eval(‘alert(“1”)’);避免new Function();避免setTimeout第一参数传入字符串)  </li>
<li>其他事项(原生方法比较快;switch比if-else快[把更可能的case放在前面];位运算比逻辑与、逻辑或都要快)  </li>
</ol>
<p><em>使用Array作为String Buffer</em><br>IE在字符串拼接的时候，效率很低；firefox下，Array的join执行效率是拼接的1.4倍<br><em>对于多次重复执行，setIntelval效率高于setTimeout</em>  </p>
<p><strong>最小语句化</strong>  </p>
<p><em>多个变量声明合并</em><br><em>插入迭代值</em><br>将name=value[i];i++;合并为：name=value[i++]<br><em>使用数组和对象字面量,缩短定义</em></p>
<p><strong>优化DOM交互</strong>  </p>
<p><em>DOM交互最消耗时间</em><br><em>最小化现场更新</em><br><em>使用innerHTML</em><br>innerHTML比createElement快，而且比appendChild快<br><em>使用事件代理</em><br>如果可能，把事件附加到更高层次的地方<br><em>注意NodeList</em><br>查询NodeList的属性，方法开销很昂贵;另外特别要优化循环查询</p>

      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>



  <article class="post">
  
  <div class="post-content">
    <header>
      
        <!-- <div class="icon"></div> -->
        <time class="index-post-time" datetime="2013-08-17T09:34:12.000Z"><a href="/2013/08/17/ie6-7-8/">Aug 17th, 2013</a></time>
      
        <div class="post-tags">
          
            
              <span class="tag-前端开发">
                <a href="/tags/前端开发/">前端开发</a>
              </span>
            
              <span class="tag-Javascript">
                <a href="/tags/Javascript/">Javascript</a>
              </span>
            
              <span class="tag-Css">
                <a href="/tags/Css/">Css</a>
              </span>
            
          
        </div>
      
  
    <h1 class="title"><a href="/2013/08/17/ie6-7-8/">IE兼容问题总结</a></h1>
  

    </header>
    <div class="entry">
      
        <p><strong>javascript兼容</strong>  </p>
<p>在js中，各个浏览器的基本语法差距并不大,兼容问题出现在各个宿主环境里（就是所谓的的浏览器中），尤其是事件。</p>
<ol>
<li><p>ie6+都可以用事件一级模型和事件二级模型来绑定一个事件,在二级模型事件中,现代浏览器用的是addEventListener,而ie6,7,8用的是attachEvent，9,10两者都可以用  </p>
</li>
<li><p>标准浏览器采用事件捕获的方法，而ie6,7,8用 的事件冒泡机制（所谓事件捕获就是由最外层元素至目标元素最里层，事件冒泡就是由目标元素最里层冒泡到最外层），不过现代浏览器可能更加觉得冒泡机制更好，所以在addEventListener最后加了一个参数，表示是否是捕获机制，一般是false  </p>
</li>
<li><p>获取事件对象 标准浏览器回调函数定义e参数,而ie6,7,8使用的是window.event,获取目标元素,标准浏览器用e.target而ie6,7,8用e.srcElement  </p>

      
    </div>
    <footer>
      
        
          <div class="alignleft readMore">
            <a href="/2013/08/17/ie6-7-8/#more" class="more-link">Read More</a>
          </div>
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>




<nav id="pagination">
  
  
    <a href="/page/2/" class="alignright next">Next</a>
  
  <div class="clearfix"></div>
</nav></div></div>
    <!-- <aside id="sidebar" class="alignright"></aside> -->
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div>
  
  copyright &copy; 2013 hussion
  
</div>
<div class="clearfix"></div></footer>
  <script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/jquery.imagesloaded.min.js"></script>
<script src="/js/gallery.js"></script>
<script src="/js/scrollUp.min.js"></script>
<script>
  $(function() {
    $.scrollUp({
      scrollText: ''
    });
    if (location.href.indexOf('/about/') != -1 || location.href.indexOf('/tags/') != -1) {
      $('footer').css({'borderBottom':'none'});
    };
  });
</script>




<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox({
  	'titleShow': false,
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'easingIn': 'easeOutBack',
    'easingOut': 'easeInBack'
  });
})(jQuery);
</script>

</body>
</html>